@charset "UTF-8";

/* 
https://professorguanabara.github.io/html-css/exercicios/ex026/mq005/ 
*/

/* 
#303030
*/
* {
    padding: 0px;
    margin: 0px;
}

body, html {
    background-color: #c1c1c1;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    background-color: #949494;
    text-align: center;
    padding: 10px 0px;
}

div {
    background-color: #303030;
    padding: 10px 0px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    display: block;
    user-select: none;
}

div:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

header menu {
    
    margin-bottom: 10px;
}

header menu ul {
    list-style-type: none;
}
#itens {
    
    display: none;
}
header menu ul li {
    cursor: pointer;
    
    background-color: rgb(73, 73, 73);
    text-align: center;
    padding: 10px 0px;
    margin: 2px 0px;
}

header menu ul li:hover {
    background-color: #949494;
}

header menu ul li a {
    
    text-decoration: none;
    color: white;
}

main {
    
    
    max-width: 700px;
    margin: auto;
    width: 95vw;
    background-color: white;
    border-radius: 10px;
    
    
}

main h2 {
    padding: 10px;
}

main article {
    padding: 10px;
}

main article p {
    text-align: justify;
    text-indent: 1.5em;
    padding-bottom: 20px;
}