@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 400px;
  grid-template-columns: 150px 1fr;
  
}

.container > div {
  
  background-color: rgb(152, 71, 228);
  border-radius: 5px;
  border: 2px solid blueviolet;
  
  
  
}