@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

div#conteudo > p {
    font-size: 3vh;
}
#container {
    background-color: black;
    font-size: 4vh;
    height: 46vh;
    
}

#conteudo {
    background-color: yellow;
    color: brown;
    font-size: 6vh;
    
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#foto1 {
    background-image: url(imagens/background001.jpg);
    height: 50vh;
}

#foto2 {
    background-image: url(imagens/background002.jpg);
    height: 50vh;
}