@charset "UTF-8";

body {
    height: 97vh;

    background-image: url(imagens/espaco.jpg);
    background-position: center center;
    background-size: cover;
    }
#astronauta {
    
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

}